*{
    background-color:#8DB594;
}
h1,h2{
    font-family: Georgia, 'Times New Roman', Times, serif;
    text-align:center;
}
h3{
    text-decoration: underline;
    text-align:center;
    display:inline;
    border-style:dotted;
    border-color: red;
    background-color:#EBFFEC ;
    margin:5px;
    font-style:italic;
    text-align:center;
    padding:5px;
    box-sizing:border-box;
}
header.titles{
    width:70%;
    background-color:#EBFFEC;
    box-sizing: border-box;
}
.content{
    float:left;
    border:5px;
    padding:10px;
    padding-top: 15px;
    padding-left:20px;
    min-width:550px;
    width:48%;
    margin:1%;
    background-color:#EBFFEC;
    border:2px solid black;
    height: 350px;
    box-sizing: border-box;
}

.description li{
    list-style-type: numbers;
    background-color:#EBFFEC;
    line-height: 20px;
}
.prices li{
    list-style-type: none;
    background-color:#EBFFEC;
    line-height: 20px;
}
h3.item{
    float:left;
    width:50%;
}
h3.cost{
    float:right;
    width:20%;
    text-indent:right;
}
.description{
    width:50%;
    padding-left:3%;
    background-color:#EBFFEC;
    float:left;
    box-sizing: border-box;
}
.prices{
    width:20%;
    padding-left:3%;
    background-color:#EBFFEC;
    float:left;
    box-sizing: border-box;
    text-align:center;
}
img{
    width:25%;
    padding-left:2.5% ;
    background-color:#EBFFEC;
}




