*{
    background-color:#8DB594;
}
h1,h2{
    font-family: Georgia, 'Times New Roman', Times, serif;
    text-align:center;
}
h3{
    text-align:center;
    display:inline;
    border-style:dashed;
    border-color: red;
    background-color:#EBFFEC ;
    margin:5px;
    font-style:italic;
    text-align:center;
    padding:5px;
    box-sizing:border-box;
}
header.titles{
    width:50%;
    box-sizing: border-box;
}
.content{
    float:left;
    border:5px;
    padding:5px;
    width:48%;
    margin:15px;
    margin-right:15px;
    margin-bottom:10px;
    background-color:#EBFFEC;
    
}
h3.item{
    width:50%;
}
h3.cost{
    width:25%;
}
.description{
    width:75%;
    padding:10px;
    background-color:#EBFFEC;
}
