*{
    background-color:#8DB594;
}
h1,h2{
    font-family: Georgia, 'Times New Roman', Times, serif;
    text-align:center;
}
h3{
    border-style:dashed;
    background-color:#EBFFEC ;
    margin:5px;
    font-style:italic;
    text-align:center;
}
.content{
    float:left;
    border:5px;
    border-color:black;
    padding:5px;
    width:45%;
    margin:15px;
    margin-right:15px;
    margin-bottom:10px;
    background-color:#EBFFEC;
    box-sizing:border-box;
}
h3.item{
    width:50%;
}
h3.cost{
    width:25%;
}
.description{
    width:75%;
    background-color:white;
}